---
---

.ion-gradient {
    --background-repeat: no-repeat;
    --background-color: #111927 !important;
    --background-image: 
        radial-gradient(at 47% 33%, hsl(233.49, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);

}
ion-card .list-md, ion-card .list-ios {
    background: #222428;
}
ion-list .list-md, ion-list .list-ios {
    background: var(--ion-item-background, var(--ion-background-color, #1e1e2f))
}