---
layout: desktop
permalink: /dashboard
---


<div class="container-fluid mt-4">
  {% include /desktop/miniCard.html %}
  <div class="row my-4">
    <!-- Kolom Glow Bandwidth -->
  {% include /desktop/glowRing.html %}
    <!-- Kolom Tabel User Aktif -->
  {% include /desktop/trafficChart.html %}
  </div>
  <div class="row my-4">
    <!-- Kolom Glow Bandwidth -->
  {% include /desktop/log.html %}
    <!-- Kolom Tabel User Aktif -->
  {% include /desktop/userActive.html %}
  </div>
</div>
  <script>
    if (window.innerWidth <= 768) {
      location.replace("/mobile");
    }
  </script>