---
layout: none
title: Mobile UI
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id | ID' }}">
  {% include /mobile/@ionicHead.html %}
<script>
function openMikrotikModal() {
  showModal('modalLoginMikrotik');
}
</script>
  <body>
      {{ content }}
<script>
  firebase.auth().onAuthStateChanged(async function(user) {
  if (user) {
    const uid = user.uid;
    const token = await user.getIdToken();

    fetch('{{site.localurl}}/php/check_router.php', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + token
      },
      body: JSON.stringify({ uid })
    })
    .then(res => res.json())
    .then(res => {
      if (res.success && res.router) {
        // 🔐 Router ditemukan dan akan login otomatis ke Mikrotik
        fetch('{{site.localurl}}/php/get_mikrotik_info.php', {
          headers: {
            'Authorization': 'Bearer ' + token
          }
        })
        .then(r => r.json())
        .then(data => {
          if (data.success) {
         // window.location.href = "/info-perangkat";
          } else {
            openMikrotikModal();
          }
        });
      } else {
        // ❌ Tidak ada router atau UID tidak cocok
        openMikrotikModal();
      }
    });
  }
});

firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      const uid = user.uid;

      firebase.database().ref("users/" + uid + "/isAdmin").once("value")
        .then(function(snapshot) {
          const isAdmin = snapshot.val();

          if (isAdmin === true) {
            console.log("Akses admin disetujui");
          } else {
                showToast("Peringatan", "Akses ditolak. Kamu bukan admin.", "warning");
            firebase.auth().signOut().then(() => {
              window.location.href = "/403";
            });
          }
        })
        .catch(function(error) {
          console.error("Gagal mengambil data admin:", error);
            showToast("Maaf", "Gagal mengambil data admin: Akses di tolak", "danger");
          window.location.href = "/403";
        });

    } else {
      showToast("Warning", "Silakan login terlebih dahulu.", "warning");
      window.location.href = "/m/login";
    }
  });
</script>
  {% include /mobile/ion-modalMikrotik.html %}
  {% include /mobile/ion-toast.html %}
<script src="{{ '/assets/js/ion-toast.js' | relative_url }}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
