---
layout: mobile
title: Welcome
permalink: /m/
---


<style>
ion-content {
      height: 100vmax;
}
  .example-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>

<ion-tabs>
  {% include /mobile/tab-home.html %}
  {% include /mobile/tab-users.html %}
  {% include /mobile/tab-hotspot.html %}
  {% include /mobile/tab-settings.html %}

  {% include /mobile/ion-tabBarbottom.html %}
</ion-tabs>
  {% include /mobile/editRouterModal.html %}
  {% include /mobile/userProfileModal.html %}
  {% include /mobile/onliginScript.html %}
  {% include /mobile/ion-modalTerminal.html %}
<script>
function openEditRouterModal() {
  showModal('editRouterModal');
}

function openUserProfileSetting() {
  console.log("👥 Setting User Profile");
  showModal('userProfileModal');
}

function openLoginScriptSetting() {
  console.log("💻 Input Script On-Login");
  showModal('scriptModal');
}

function openTerminal() {
  console.log("🖥️ Buka Terminal");
  showModal('terminalModal');
}

function openAdminProfile() {
  console.log("👤 Admin Profile");
  // showModal('admin-profile-modal');
}

// Optional: fungsi umum show modal jika pakai <ion-modal>
function showModal(modalId) {
  const modal = document.getElementById(modalId);
  if (modal) modal.present();
}
</script>
<script>
  const homeNav = document.querySelector('#home-nav');
  const homePage = document.querySelector('#home-page');
  homeNav.root = homePage;

  const usersNav = document.querySelector('#users-nav');
  const usersPage = document.querySelector('#users-page');
  usersNav.root = usersPage;

  const wifiNav = document.querySelector('#hotspot-nav');
  const wifiPage = document.querySelector('#hotspot-page');
  wifiNav.root = wifiPage;

  const settingsNav = document.querySelector('#settings-nav');
  const settingsPage = document.querySelector('#settings-page');
  settingsNav.root = settingsPage;
</script>
  <script>
    if (window.innerWidth > 768) {
      location.replace("/desktop");
    }
  </script>